<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/mainPage.css">
</head>
<body class="noto-serif-kr">
  <div>
    <h1>일정표</h1>
    <div></div>
    <!-- 달력표시 -->
    <div>
      <!-- 오늘 날짜 표시 -->
      <div id="today"></div>
      
      <!-- 달력 표시 -->
      <section class="calendar">
        <div class="calender-header jua-regular cfs-xl">
          <div class="calender-btn go-prev" onclick="prevMonth()">
            &lt;
          </div>
          <div class="year-month"></div>
          <div class="calender-btn go-next" onclick="nextMonth()">
            &gt;
          </div>
          <div class="calender-btn go-today cfs-l" onclick="goToday()">
            Go Today
          </div>
        </div>
        <div class="calendar-main">
          <!-- 요일 표기 -->
          <div class="days cfs-m">
            <div class="day sunday">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day saturday">토</div>
          </div>
          <!-- 날짜 표기 -->
          <div class="dates"></div>
        </div>
      </section>
    </div>
  </div>
  <script src="/src/main.js"></script>
</body>
</html>