<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>일정 추가</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/todoRecords.css">
</head>
<body class="noto-serif-kr">
  <div>
    <h1>여기는 todorecord.ejs</h1>
    <form action="">
      <!-- <input type="text" placeholder="제목" value="" name="title" size="10">
      <input type="color" value="#de66ff">
      <input type="text" placeholder="메모" name="content"  size="10">
      <input type="text" placeholder="장소" name="location" size="10">
      <input type="date" name="start_date" required size="10">
      <input type="time" name="start_time" required size="10">
      <input type="date" name="end_date" required size="10">
      <input type="time" name="end_time" required size="10"> -->
      <!-- 커스텀 date -->
      <!-- 시작일 -->
      <div>
        <div id="sel_sdate_div">
          <p id="sel_sdate">0000년 00월 00일 (월)</p>
        </div>
        <input type="hidden" value="" id="cs_dateInput">
        <div id="cs_dateDiv" class="flex-row">
          <div id="cs_year" class="scrollSection"></div>
          <div id="cs_month" class="scrollSection"></div>
          <div id="cs_date" class="scrollSection"></div>
        </div>
      </div>
      <!-- 종료일 -->
      <div>
        <div id="sel_edate_div">
          <p id="sel_edate">0000년 00월 00일 (월)</p>
        </div>
        <input type="hidden" value="" id="ce_dateInput">
        <div id="ce_dateDiv" class="flex-row">
          <div id="ce_year"></div>
          <div id="ce_month"></div>
          <div id="ce_date"></div>
        </div>
      </div>
      <!-- 커스텀 time -->
      <input type="hidden" value="" id="c_timeInput">
      <div id="c_timeDiv">
        <div id="c_hour"></div>
        <div id="c_minute"></div>
      </div>
    </form>
  </div>
  <script src="/src/todorecord.js"></script>
  <script src="/src/todoRecord1.js"></script>
  <script src="/src/todoRecord2.js"></script>
  <script src="/src/todoRcordEnd.js"></script>
</body>
</html>