@import url('https://fonts.googleapis.com/css2?family=Jua&family=Noto+Serif+KR:wght@200..900&display=swap');

.noto-serif-kr {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cfs-xl {
  font-size: 2rem;
}
.cfs-l {
  font-size: 1.75rem;
}
.cfs-m {
  font-size: 1.5rem;
}
.cfs-s {
  font-size: 1.25rem;
}
.cfs-xs {
  font-size: 1rem;
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align-items-start{
  align-items:start;
}
.justify-content-center{
  justify-content: center;
}

.center{
  justify-content: center;
  align-items: center;
}
.m_r_1rem{
  margin-right: 1rem;
}
.m_l_2rem{
  margin-left: 2rem;
}

.cursor-pointer{
  cursor: pointer;
}